[Unit]
Description=Mount Storage disks
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/bcachefs-mount.sh

[Install]
WantedBy=local-fs.target
