[Unit]
Description = Mount Storage disks

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/bcachefs-mount.sh

[Install]
WantedBy=multi-user.target
