[Unit]
Description=Mount Storage disks
Before=local-fs.target
After=var.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bcachefs-mount.sh

[Install]
RequiredBy=local-fs.target
